version: '3.8'

services:

  # 백엔드 컨테이너
  backend:
    container_name: landmark-backend
    build:
      context: .
      dockerfile: Dockerfile
    # EC2 8080 포트 - 컨테이너 8080 포트 연결
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped

  # GeoServer 컨테이너 (PostGIS, S3 래스터 데이터)
  geoserver:
    container_name: geoserver
    image: osgeo/geoserver:2.24.4 # 안정적인 OSGeo GeoServer 이미지 사용
    ports:
      # geoserver 포트는 컨테이너 내부적으로 8080 이지만, 백엔드와 충돌 피하기 위해 외부적으로 8082 포트로 매핑
      - "8082:8080"
    environment:
      - GEOSERVER_AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - GEOSERVER_AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      # geoserver 가 사용할 수 있는 JVM 최대 힙 메모리 크기(1기가), 데이터 디렉토리 지정
      - JAVA_OPTS="-Xmx1024m -DGEOSERVER_DATA_DIR=/opt/geoserver_data"

    # geoserver 설정 파일 사라지지 않도록 저장
    volumes:
      - geoserver_data:/opt/geoserver_data
    restart: always

# geoserver 설정 정보 저장 공간
volumes:
  geoserver_data:

# 백엔드, geoserver 컨테이너가 같은 네트워크에 속하도록
networks:
  default:
    name: landmark-network
