version: '3.8'

services:

  # 백엔드 컨테이너
  backend:
    container_name: landmark-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped

  # GeoServer 컨테이너 (PostGIS, S3 래스터 데이터)
  geoserver:
    container_name: geoserver
    image: kartoza/geoserver:2.24.4
    ports:
      # geoserver 포트는 컨테이너 내부적으로 8080 이지만, 백엔드와 충돌 피하기 위해 외부적으로 8082 포트로 매핑
      - "8082:8080"
    env_file:
      - .env
    environment:
      - INITIAL_MEMORY=512m
      - MAXIMUM_MEMORY=1024m
      - COMMUNITY_EXTENSIONS=s3-geotiff-plugin
      - JAVA_OPTS=-Ds3.properties.location=/settings/s3.properties
      - GEOSERVER_S3_BUCKET=${S3_BUCKET_NAME}
      - GEOSERVER_S3_REGION=ap-northeast-2
      - GEOSERVER_S3_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
      - GEOSERVER_S3_SECRET_KEY=${AWS_SECRET_ACCESS_KEY}

    volumes:
      - ./settings/s3.properties:/settings/s3.properties:ro
      - geoserver_data:/opt/geoserver_data
    restart: always

# geoserver 설정 정보 저장 공간
volumes:
  geoserver_data:

# 백엔드, geoserver 컨테이너가 같은 네트워크에 속하도록
networks:
  default:
    name: landmark-network
